* {
    font-family: Plus Jakarta Sans;
}

.HP img {
    border-radius: 60% 60% 15% 45%;
}

.card-text {
    margin-left: 40px;
    width: 44ch;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(44);
}

@keyframes typing {
    from {
        width: 0ch;
    }
}

.HP {
    transition: 0.3s;
    border-radius: 70px !important;
}

.HP:hover {
    transform: scale(1.03);
}

.sosmed i {
    transition: 0.3s;
    animation: bounceEffect 0.5s;
    animation-delay: 2.7s;
}

@keyframes bounceEffect {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-7px);
    }
    100% {
        transform: translateY(0);
    }
}

.sosmed i:hover {
    color: rgb(255, 196, 0);
    transform: translateY(2px)
}

.navigasi {
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    backdrop-filter: blur(3px);
    z-index: 1000;
}

.navigasi ul li a {
    font-weight: 600;
    text-decoration: none !important;
    color: black;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 2px solid rgba(39, 39, 39, 0);
}

.navigasi ul li a:hover {
    color: rgb(39, 39, 39);
    border-bottom: 2px solid rgb(255, 196, 0);
    letter-spacing: 0.02rem;
}

.about img {
    width: 320px;
    float: left;
    box-shadow: -30px -30px;
    margin-right: 25px;
    margin-top: 25px;
    transition: 0.3s;
}

.about img:hover {
    transform: scale(1.02) !important;
}

.progress-bar.custom-color1 {
    background-color: rgb(221, 75, 36);
}

.progress-bar.custom-color2 {
    background-color: rgb(36, 75, 220);
}

.progress-bar.custom-color3 {
    background-color: rgb(77, 88, 142);
}

.progress-bar.custom-color4 {
    background-color: rgb(240, 216, 30);
}

.progress-bar.custom-color5 {
    background-color: black;
}

.progress-bar.custom-color6 {
    background-color: rgb(109, 15, 236);
}

.progress-bar.custom-color7 {
    background-color: rgb(21, 184, 199);
}

.logoprj {
    transition: 0.2s;
    color: rgb(35, 37, 38);
}

.logoprj:hover {
    color: rgb(255, 196, 0);
}