* {
    font-family: Plus Jakarta Sans;
}

.HP img {
    border-radius: 60% 60% 15% 45%;
}

.CT1 {
    margin-left: 40px;
    width: 0ch;
    text-wrap: nowrap;
    overflow: hidden;
    visibility: hidden;
    animation: typing 2s steps(44) forwards;
    animation-delay: 1s;
}

@keyframes typing {
    0% {
        width: 0ch;
        visibility: visible;
    }
    100% {
        width: 44ch;
        visibility: visible;
    }
}

.HP {
    transition: 0.3s;
    border-radius: 70px !important;
}

.HP:hover {
    transform: scale(1.03);
}

.sosmed i {
    transition: 0.2s
}

.sosmed i:hover {
    color: rgb(255, 196, 0);
    transform: translateY(2px);
}

.sosmed1 {
    transition: 0.5s;
    animation: mantul1 0.5s;
    animation-delay: 3.8s;
}

.sosmed2 {
    transition: 0.5s;
    animation: mantul2 0.5s;
    animation-delay: 3.95s;
}

.sosmed3 {
    transition: 0.5s;
    animation: mantul3 0.9s;
    animation-delay: 4.05s;
}

@keyframes mantul1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
        color: rgb(255, 196, 0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mantul2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
        color: rgb(255, 196, 0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mantul3 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateX(15px);
    }
    72% {
        color: rgb(255, 196, 0);
    }
    75% {
        transform: translateY(-8px);
        color: rgb(255, 196, 0);
    }
    80% {
        transform: translateY(-8px);
    }
    85% {
        transform: translateY(-4px);
    }
    90% {
        transform: translateY(-3px);
    }
    95% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
}
  
.burger input {
    display: none;
}
  
.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
  
.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}
  
.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}
  
.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}
  
.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}
  
.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}
  
.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.navigasi {
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    backdrop-filter: blur(3px);
    z-index: 1000;
}

.navigasi ul {
    margin-top: 10px;
}

.navigasi ul li a {
    font-weight: 600;
    text-decoration: none !important;
    color: black;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 2px solid rgba(39, 39, 39, 0);
}

.navigasi ul li a:hover {
    color: rgb(39, 39, 39);
    border-bottom: 2px solid rgb(255, 196, 0);
    letter-spacing: 0.02rem;
}

.about img {
    width: 320px;
    float: left;
    box-shadow: -30px -30px;
    margin-right: 25px;
    margin-top: 25px;
    transition: 0.3s;
}

.about img:hover {
    transform: scale(1.02) !important;
}

.progress-bar.custom-color1 {
    background-color: rgb(221, 75, 36);
}

.progress-bar.custom-color2 {
    background-color: rgb(36, 75, 220);
}

.progress-bar.custom-color3 {
    background-color: rgb(77, 88, 142);
}

.progress-bar.custom-color4 {
    background-color: rgb(240, 216, 30);
}

.progress-bar.custom-color5 {
    background-color: black;
}

.progress-bar.custom-color6 {
    background-color: rgb(109, 15, 236);
}

.progress-bar.custom-color7 {
    background-color: rgb(21, 184, 199);
}

.logoprj {
    transition: 0.2s;
    color: rgb(35, 37, 38);
}

.logoprj:hover {
    color: rgb(255, 196, 0);
}

.C-list .C-item {
    user-select: none;
    max-width: 400px;
    transition: 0.3s ease;
}

.C-list .Kcard:hover {
    transform: scale(1.02, 1.02);
}
  
.C-list:hover > .Kcard:not(:hover) {
    filter: blur(10px);
    transform: scale(0.93, 0.93);
}

.C-wrapper {
    max-width: 1140px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.C-wrapper .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    opacity: 0.8;
    background: black;
}

.C-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
    background: rgb(255, 196, 0);
    box-shadow: 0 0 17px rgba(255, 196, 0, 0.8);
}

.C-wrapper .swiper-slide-button {
    color: rgb(255, 196, 0);
}

.S1 img{
    transition: 0.28s;
}

.S1 img:hover{
    transform: translateY(-10px);
}

.S2 img{
    transition: 0.28s;
}

.S2 img:hover{
    transform: translateY(-10px);
}

.S3 img{
    transition: 0.28s;
}

.S3 img:hover{
    transform: translateY(-10px);
}

.S4 img{
    transition: 0.28s;
}

.S4 img:hover{
    transform: translateY(-10px);
}

.S5 img {
    transition: 0.28s;
}

.S5 img:hover{
    transform: translateY(-10px);
}

/* From Uiverse.io by Creatlydev  */
.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
}
  
.button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
  
.button:hover {
    background-color: rgb(255, 196, 0);
    color: #000;
}
  
.button:hover .button__icon-wrapper {
    color: #000;
}
  
.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}
  
.button:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}
  
.button:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(Side\ Char/wave.png);
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animasiWave 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animasiWave2 4s linear infinite;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animasiWave 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animasiWave2 3s linear infinite;
}

@keyframes animasiWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animasiWave2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

.footah {
    display: flex;
    justify-content: space-around;
    gap: 50%;
    margin: 20px 20px;
}

.footah p{
    letter-spacing: 0.05em;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(227, 227, 227);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 196, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #ff4500, #ffaa00);
}

@media (max-width: 600px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .Head {
        min-height: 20vh !important;
    }

    .HP img {
        width: 100px !important;
    }

    .HP h5 {
        font-size: 15px !important;
    }

    .CT1 {
        margin-left: 18%;
        font-size: 12px;
    }

    .sosmed {
        font-size: 12px;
    }

    .navigasi {
        position: fixed;
        width: 100%;
        z-index: 1001;
        padding: 0;
    }

    .navigasi ul {
        flex-direction: column !important;
    }

    .navigasi ul li {
        margin-bottom: 20px !important;
        list-style-type: circle;
    }

    #listMenu {
        max-height: 0;
        opacity: 0;
        transition: 0.3s;
    }

    #listMenu.menu-active {
        max-height: 500px;
        opacity: 1;
    }

    .burger {
        z-index: 1002;
        display: block;
        position: fixed !important;
        top: 0px !important;
        margin-top: 20px !important;
        margin-left: 85%;
        margin-right: 20px;
    }

    .about img {
        width: 180px;
        display: block;
        margin-bottom: 10px;
        margin-left: 30px !important;
    }

    .text-about {
        text-align: justify;
        font-size: 14px !important;
    }

    .tools.shadow {
        box-shadow: none !important;
    }

    .headProjek .berpro {
        font-size: 12px !important;
    }

    .headCertif .berce {
        font-size: 12px !important;
    }

    .atasSertif.shadow {
        box-shadow: none !important;
    }

    .sertif img {
        width: 120px;
    }

    .footah {
        display: flex;
        flex-direction: column;
    }

    .footahUP {
        margin-bottom: 15px;
    }

    .footahUP p {
        font-size: 12px;
    }

    .linkFooter a {
        font-size: 12px;
    }
}

/* HALLO PARA STALKER BHAHAHAHAHAHAHA */